<div class="chat">
    <div class='row'>
        <div class="col-md-12">
            <div id="chat-zone" class='bg-info' style="height:300px; overflow-y: scroll"></div>
        </div>
        <br/>
        <br/>
        <div class="col-md-12">
            <div class="form-group">
                <textarea class="form-control" id='message' autofocus rows="1"></textarea>
            </div>
        </div>
    </div>
    <button class="btn btn-primary btn-block" id="send-button">Send message</button>
</div>