<div>
	<div id='chat-window'>
		<div class='row'>
			<div class='col-md-12 text-center'>
				<p id="choose-user-label">Choose user :</p>
				<select id='users-for-chat' class='col-md-12 text-center'></select>
			</div>
		</div>
	</div>
</div>