<div class="row">
<form name="registration" action="https://telerikacademy.com/Users/Auth/Login" method="post">
   <div class="row">

       <div class="col-md-1 col-xs-1"></div>
       <div class="col-md-2 col-xs-3">First name</div>
       <div class="col-md-9 col-xs-8">
           <input type="text" name="firstname" size="30" required/>
       </div>

       <div class="col-md-1 col-xs-1"></div>
       <div class="col-md-2 col-xs-3">Last name</div>
       <div class="col-md-9 col-xs-8">
           <input type="text" name="lastname" size="30" required/>
       </div>

       <div class="col-md-1 col-xs-1"></div>
       <div class="col-md-2 col-xs-3">Date of birth</div>
       <div class="col-md-9 col-xs-8">
           <input type="text" name="birthdate" size="30" required/>
       </div>

       <div class="col-md-1 col-xs-1"></div>
       <div class="col-md-2 col-xs-3">Gender</div>
       <div class="col-md-9 col-xs-8">
           <select name="gender">
               <option selected="selected" size="100">Male</option>
               <option>Female</option>
           </select>
       </div>

       <div class="col-md-1 col-xs-1"></div>
       <div class="col-md-2 col-xs-3">Username</div>
       <div class="col-md-9 col-xs-8">
           <input type="text" name="username" size="30" required/>
       </div>

       <div class="col-md-1 col-xs-1"></div>
       <div class="col-md-2 col-xs-3">Password</div>
       <div class="col-md-9 col-xs-8">
           <input type="password" name="username" size="30" required/>
       </div>

       <div class="col-md-1 col-xs-1"></div>
       <div class="col-md-2 col-xs-3"></div>
       <div class="col-md-9 col-xs-8">
           <input type="submit" name="submit" value="Submit">
           <input type="reset" name="reset" value="Clean This Form">
       </div>
   </div>
</form>
</div>