<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div id="button-container">
            <a href="#/sign-in" class="btn btn-primary btn-block">Sign in</a>
            <a href="#/sign-up" class="btn btn-primary btn-block">Sign up</a>
        </div>
    </div>
</div>