<div id='inner-window'>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="form-group">
                <input type="text" class="form-control" id="sign-up-firstname" placeholder="First name" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="sign-up-lastname" placeholder="Last name" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="sign-up-birthdate" placeholder="Birth date" />
            </div>
            <div class="form-group">
                <select class='form-control' id='sign-up-gender'>
                    <option>Choose</option>
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                </select>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="sign-up-username" placeholder="Username" />
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="sign-up-password" placeholder="Password" />
            </div>
            <input type="button" id='register-button' class="btn btn-primary btn-block" value="Sign UP" />
        </div>
    </div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row">
        <div class="col-md-2 col-md-offset-5">
            <a href="#/" class="btn btn-primary btn-block">Go Back</a>
        </div>
    </div>
</div>