<div>
	<div class='row'>
		<div id="profile-sidebar" class='col-md-3 bg-primary'>
			<p id="username-container">
				Hello, <b id="username">{{username}}</b>
			</p>
			<p>
				<button class="btn btn-primary btn-block" id="go-to-chat-button">Go to the chat</button>
			</p>
			<p>
				<button class="btn btn-primary btn-block" id="sign-out-button">Log Out</button>
			</p>
		</div>
		<div class='col-md-9'>
			<div id='inner-content'>
			</div>
		</div>
	</div>
</div>
