body {
    background-color: white;
}

.container {
    background-color: #E9EAED;
    height: 100vh;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}

#footer-container{
    bottom: -30px;
}

#footer{
    position: relative;
    bottom:0px;
    background-color: #518DC1;
    text-align:center;
}

input {
    text-align:center;
}

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
    text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}